In [1]:
### write custom functiion 
## with the help of custom function you can do same task just by caalling function name without writing same code again

In [3]:
def test1():
    print("this is my very first function")

In [6]:
test1()

this is my very first function

In [8]:
test1()+"shahbaz"   ### error print always return none type

this is my very first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [9]:
def test2():
    return "this is my function "

In [10]:
test2()

'this is my function '

In [11]:
test2()+"md shahbaz ashraf"    ## return "key word" return as it is

'this is my function md shahbaz ashraf'

In [12]:
def test3():
    return "shahbaz",23,25,45.23,[1,23,4,5,6]

In [14]:
A=test3()

In [21]:
a,b,c,d,e=test3()

In [22]:
e

[1, 23, 4, 5, 6]

In [25]:
d

45.23

In [1]:
#&&&&&&&  input not showing
def test5():
    dividend=int(input("plz input dividend"))
    divisor=int(input("plz input divisor"))
    r=dividend/divisor
    return r

In [3]:
test5()

plz input dividend 20
plz input divisor 40

0.5

In [37]:
def test6():
    dividend= 20
    divisor= 2
    r=dividend/divisor
    return r

In [39]:
test6()

10.0

In [45]:
test5()

plz input dividend 200
plz input divisor 10

20.0

In [47]:
def test7(a,b):   
    return a+b

In [53]:
test7(12,5)

17

In [54]:
test7("sugh","arpit")

'sugharpit'

In [55]:
test7("shahbaz"+4)

TypeError: can only concatenate str (not "int") to str

In [5]:
## u have given list from which u have to segregate integer and string into seperate list

q=[4,7,"md",34,"shahbaz","ashraf",25,36]

intt=[]
strin=[]

for i in q:
    if type(i)==int or type(i)==float:
        intt.append(i)
    else:
        strin.append(i)
print(intt) 
print(strin)

[4, 7, 34, 25, 36]
['md', 'shahbaz', 'ashraf']

In [71]:
[i for i in q if type(i)==int]
[i for i in q if type(i)==str]

['md', 'shahbaz', 'ashraf']

In [72]:
[i for i in q if type(i)==str]

['md', 'shahbaz', 'ashraf']

In [73]:
q

[4, 7, 'md', 34, 'shahbaz', 'ashraf', 25, 36]

In [110]:
def seg(l):
    t=[]
    d=[]
    for i in l:
        if type(i)==int:
            d.append(i)
        else:
            t.append(i)
    return t,d

In [111]:
seg(q)

(['md', 'shahbaz', 'ashraf'], [4, 7, 34, 25, 36])

In [127]:
## problem - make a function which segregate integer and string into different list includinhg list inside list

q=[4,7,"md",34,"shahbaz","ashraf",25,36,[2,5,6,7,8,9]]

def segregator():
    a=[]
    b=[]
    for i in q:
        if type(i)==list :
            for j in i :
                a.append(j)
        else :
            if type(i)== int or type(i)==float:
                a.append(i)
            else:
                if type(i)==str:
                    b.append(i)
    return a ,b

In [128]:
segregator()

([4, 7, 34, 25, 36, 2, 5, 6, 7, 8, 9], ['md', 'shahbaz', 'ashraf'])

In [10]:

## doc string 

def segregator(w):
    """this function segregate integer and string into different list"""
    a=[]
    b=[]
    for i in w:
        if type(i)==list :
            for j in i :
                a.append(j)
        else :
            if type(i)== int or type(i)==float:
                a.append(i)
            else:
                if type(i)==str:
                    b.append(i)
    return a ,b

In [11]:
segregator(q)

([4, 7, 34, 25, 36], ['md', 'shahbaz', 'ashraf'])

In [12]:
def summation(a,b):
    v=a+b
    return v

In [13]:
summation(1,2)

3

In [16]:
def summation(*args):
    return args

In [17]:
summation(1,2,3,4)

(1, 2, 3, 4)

In [20]:
def summation1(*args):
    '''this function returns summation of provided number'''
    a=0
    for i in args:
        a=a+i
    return a

In [23]:
summation1(1,2,3,-4,4,45,85,74,98,12,45,74,65)

504

In [28]:
l1=[12,34,54,67,87,99,76,5,23,54]

In [29]:
sum(l1)

511

In [32]:
 def test14(*args):
    return args

In [33]:
test14(1,2,"md ","shabaz",4.25)

(1, 2, 'md ', 'shabaz', 4.25)

In [3]:
def test15(**kwargs):
    return kwargs

In [5]:
type(test15())

dict

In [6]:
test15(a=[2,4,5,6,8,7,10],b="shahbaz",c="Ashraf")

{'a': [2, 4, 5, 6, 8, 7, 10], 'b': 'shahbaz', 'c': 'Ashraf'}

In [23]:
def tt(v):
    for i in list(range(1,11,1)):
        yield(i*v)

In [31]:
tt(4)
for i in tt:
    print(i)

TypeError: 'function' object is not iterable

In [5]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
v

NameError: name 'v' is not defined

In [27]:
g=[3,5,6,7,8,"md","shahbaz",[4,5,6,7,"junaid"]]

In [34]:

## write a function which segregate given list into  tow different list numbe and text
def segregator3 (k):
    r=[]
    u=[]
    for i in k:
        if type(i)==list:
            for j in i :
                if type(j)==int or type(j)==float:
                    r.append(j)
                else:
                    if type(j)==str:
                        u.append(j)
        else:
            if type(i)==int or type(i)==float:
                    r.append(i)
            if type(i)==str:
                    u.append(i)
    return u,r

In [35]:
segregator3(g)

(['md', 'shahbaz', 'junaid'], [3, 5, 6, 7, 8, 4, 5, 6, 7])

In [7]:
g

[3, 5, 6, 7, 8, 'md', 'shahbaz', [4, 5, 6, 7, 'junaid']]

In [2]:
pwd

'c:\\python code\\python_practice\\intermediary'