In [1]:
### sum till some point

In [8]:
a=1
b=int(input())

while a < b :
    print(a)
    a=a+1

 5

1
2
3
4

In [ ]:
## sum of n nummbers
n = int(input())
counter=1
starting_point=0

while counter <= n :
    starting_point=starting_point+counter
    counter+=1
print(starting_point)

In [24]:
print("hello shabaz\nhello shahbaz\nhello world")     ### \n is used for linebreak

hello shabaz
hello shahbaz
hello world

In [31]:
## SUM SQUARE OF NUMBERS TILL SOME POINT

inp=int(input())
counter=1
 
while counter <= inp :
        print((counter**2))
        counter+=1

 5

1
4
9
16
25

In [44]:
### factorial of a number
inp=int(input())
a=1
for i in range(1,inp+1,1):
    a=a*i
print(a)

 5

120

In [2]:
inp=int(input())
factorial=1
pro=1
while factorial <= inp :
      pro=(pro*factorial)
      
      factorial=factorial+1
print(pro)

 4

24

In [4]:
inp=int(input())
factorial=1
pro=1
while inp > 0 :
      pro=(pro*inp)
      
      inp=inp-1
print(pro)

 4

24

In [1]:
## generate fabinacci serise      fabinacci series is- next number is sum of last two number

inp=int(input())
counter=1
##print(inp)

a =0
b =1
c =0
while  counter <= inp :
    print(a)
    c=(a+b)
    a=b
    b=c
    counter=counter+1

 50

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049

In [20]:
## fabinacci series using for loop
a,b= 0,1
c=0

for i in range(int(input())):
    print(a)
    c=a+b
    a=b
    b=c
    couter=counter+1

 10

0
1
1
2
3
5
8
13
21
34

In [22]:
##prob.     take input(string) and  inverse the string  using loop

s=input("inuput our string to reverse")

inuput our string to reverse ab

In [17]:
s[::-1]

'iba'

In [25]:
s=input("inuput our string to reverse")
for i in range((len(s)-1),-1,-1):
   print(s[i])

inuput our string to reverse abi

i
b
a

In [27]:
inverse=""
s=input("inuput our string to reverse")
for i in range((len(s)-1),-1,-1):
    inverse=inverse+s[i]
print(inverse)

inuput our string to reverse md shahbaz ashraf

farhsa zabhahs dm

In [10]:
len(s)

7

In [12]:
list(range((len(s)-1),-1,-1))

[6, 5, 4, 3, 2, 1, 0]

In [36]:
### create a table of specified number 
number= int(input("plz enter the number you want to create table"))
for i in range(1,10,1):
    print(i*number)

plz enter the number you want to create table 10

10
20
30
40
50
60
70
80
90

In [39]:
number= int(input("plz enter the number you want to create table"))
counter=1

while counter <= 10 :
    print(counter*number)
    counter+=1

plz enter the number you want to create table 10

10
20
30
40
50
60
70
80
90
100

In [45]:
## else in while 
i=1
n=5

while i <=5 :
    print(i)
    i=i+1
    if i==4 :
     break
else:
    print("this will be executed only after completion of loop ")   ## here else willl not be exucuted bcz of loop breaks befoe successfully completed

1
2
3

In [4]:
a=0
b=1
counter=0
c=0
g=int(input())
while counter <= g :
    print(a)
    c=a+b
    a=b
    b=c
    counter=counter+1

 5

0
1
1
2
3
5